body 

{

    background-color: black



}

h1, h2, h3 

{

    color:antiquewhite;



}



p

{

     color:white;

    

    

    

}

table

{

    background-color: grey;

    border-style: solid;

    border-color: darkgoldenrod;

    

    

    

    

}

th:hover

{

    background-color: aqua;

    

    

    

}

td:hover

{

    background-color: gold;

    

    

    

}



a

{

    color: orangered;

 

    

}

a:visted

{

    color: gold;

 

    

}

a:hover

{

    color: cyan;

 

    

}

a:active

{

    color: greenyellow;

 

    

}
